.grid {
  box-sizing: border-box;
}
.grid:before, .grid:after {
  content: " ";
  display: block;
  width: 100%;
  clear: both;
}
.grid.gutters {
  margin-left: -2rem;
}
.grid.gutters > .row:last-of-type {
  margin-bottom: -2rem;
}
.grid.gutters > .row > .col {
  margin-bottom: 2rem;
  padding-left: 2rem;
}
.grid.gutters-vertical {
  margin-left: -2rem;
}
.grid.gutters-vertical > .row > .col {
  padding-left: 2rem;
}
.grid.gutters-horizontal > .row:last-of-type {
  margin-bottom: -2rem;
}
.grid.gutters-horizontal > .row > .col {
  margin-bottom: 2rem;
}
.grid > .row.d-1 > .col {
  width: 8.33333% !important;
}
.grid > .row.d-2 > .col {
  width: 16.66667% !important;
}
.grid > .row.d-3 > .col {
  width: 25% !important;
}
.grid > .row.d-4 > .col {
  width: 33.33333% !important;
}
.grid > .row.d-5 > .col {
  width: 41.66667% !important;
}
.grid > .row.d-6 > .col {
  width: 50% !important;
}
.grid > .row.d-7 > .col {
  width: 58.33333% !important;
}
.grid > .row.d-8 > .col {
  width: 66.66667% !important;
}
.grid > .row.d-9 > .col {
  width: 75% !important;
}
.grid > .row.d-10 > .col {
  width: 83.33333% !important;
}
.grid > .row.d-11 > .col {
  width: 91.66667% !important;
}
.grid > .row.d-12 > .col {
  width: 100% !important;
}
.grid .row, .grid .col {
  box-sizing: border-box;
  float: left;
  width: 100%;
  position: relative;
}
.grid > .row .col.d-1 {
  width: 8.33333% !important;
}
.grid > .row .col.d-2 {
  width: 16.66667% !important;
}
.grid > .row .col.d-3 {
  width: 25% !important;
}
.grid > .row .col.d-4 {
  width: 33.33333% !important;
}
.grid > .row .col.d-5 {
  width: 41.66667% !important;
}
.grid > .row .col.d-6 {
  width: 50% !important;
}
.grid > .row .col.d-7 {
  width: 58.33333% !important;
}
.grid > .row .col.d-8 {
  width: 66.66667% !important;
}
.grid > .row .col.d-9 {
  width: 75% !important;
}
.grid > .row .col.d-10 {
  width: 83.33333% !important;
}
.grid > .row .col.d-11 {
  width: 91.66667% !important;
}
.grid > .row .col.d-12 {
  width: 100% !important;
}
.grid > .row > .col.show {
  visibility: visible;
}
.grid > .row > .col.hide {
  visibility: hidden;
}
.grid .clear {
  display: none;
  clear: both !important;
  width: 100% !important;
  overflow: hidden !important;
}
.grid .clear.always {
  display: block !important;
}

@media (min-width: 0) and (max-width: 400px) {
  .xxs-OR-0 {
    right: 0% !important;
  }

  .xxs-OR-1 {
    right: 8.33333% !important;
  }

  .xxs-OR-2 {
    right: 16.66667% !important;
  }

  .xxs-OR-3 {
    right: 25% !important;
  }

  .xxs-OR-4 {
    right: 33.33333% !important;
  }

  .xxs-OR-5 {
    right: 41.66667% !important;
  }

  .xxs-OR-6 {
    right: 50% !important;
  }

  .xxs-OR-7 {
    right: 58.33333% !important;
  }

  .xxs-OR-8 {
    right: 66.66667% !important;
  }

  .xxs-OR-9 {
    right: 75% !important;
  }

  .xxs-OR-10 {
    right: 83.33333% !important;
  }

  .xxs-OR-11 {
    right: 91.66667% !important;
  }

  .xxs-OR-12 {
    right: 100% !important;
  }

  .xxs-OL-0 {
    right: 0% !important;
  }

  .xxs-OL-1 {
    right: -8.33333% !important;
  }

  .xxs-OL-2 {
    right: -16.66667% !important;
  }

  .xxs-OL-3 {
    right: -25% !important;
  }

  .xxs-OL-4 {
    right: -33.33333% !important;
  }

  .xxs-OL-5 {
    right: -41.66667% !important;
  }

  .xxs-OL-6 {
    right: -50% !important;
  }

  .xxs-OL-7 {
    right: -58.33333% !important;
  }

  .xxs-OL-8 {
    right: -66.66667% !important;
  }

  .xxs-OL-9 {
    right: -75% !important;
  }

  .xxs-OL-10 {
    right: -83.33333% !important;
  }

  .xxs-OL-11 {
    right: -91.66667% !important;
  }

  .xxs-OL-12 {
    right: -100% !important;
  }

  .xxs-show {
    visibility: visible !important;
  }

  .xxs-hide {
    visibility: hidden !important;
  }

  .clear.xxs {
    display: block;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  .xs-OR-0 {
    right: 0% !important;
  }

  .xs-OR-1 {
    right: 8.33333% !important;
  }

  .xs-OR-2 {
    right: 16.66667% !important;
  }

  .xs-OR-3 {
    right: 25% !important;
  }

  .xs-OR-4 {
    right: 33.33333% !important;
  }

  .xs-OR-5 {
    right: 41.66667% !important;
  }

  .xs-OR-6 {
    right: 50% !important;
  }

  .xs-OR-7 {
    right: 58.33333% !important;
  }

  .xs-OR-8 {
    right: 66.66667% !important;
  }

  .xs-OR-9 {
    right: 75% !important;
  }

  .xs-OR-10 {
    right: 83.33333% !important;
  }

  .xs-OR-11 {
    right: 91.66667% !important;
  }

  .xs-OR-12 {
    right: 100% !important;
  }

  .xs-OL-0 {
    right: 0% !important;
  }

  .xs-OL-1 {
    right: -8.33333% !important;
  }

  .xs-OL-2 {
    right: -16.66667% !important;
  }

  .xs-OL-3 {
    right: -25% !important;
  }

  .xs-OL-4 {
    right: -33.33333% !important;
  }

  .xs-OL-5 {
    right: -41.66667% !important;
  }

  .xs-OL-6 {
    right: -50% !important;
  }

  .xs-OL-7 {
    right: -58.33333% !important;
  }

  .xs-OL-8 {
    right: -66.66667% !important;
  }

  .xs-OL-9 {
    right: -75% !important;
  }

  .xs-OL-10 {
    right: -83.33333% !important;
  }

  .xs-OL-11 {
    right: -91.66667% !important;
  }

  .xs-OL-12 {
    right: -100% !important;
  }

  .xs-show {
    visibility: visible !important;
  }

  .xs-hide {
    visibility: hidden !important;
  }

  .clear.xs {
    display: block;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .s-OR-0 {
    right: 0% !important;
  }

  .s-OR-1 {
    right: 8.33333% !important;
  }

  .s-OR-2 {
    right: 16.66667% !important;
  }

  .s-OR-3 {
    right: 25% !important;
  }

  .s-OR-4 {
    right: 33.33333% !important;
  }

  .s-OR-5 {
    right: 41.66667% !important;
  }

  .s-OR-6 {
    right: 50% !important;
  }

  .s-OR-7 {
    right: 58.33333% !important;
  }

  .s-OR-8 {
    right: 66.66667% !important;
  }

  .s-OR-9 {
    right: 75% !important;
  }

  .s-OR-10 {
    right: 83.33333% !important;
  }

  .s-OR-11 {
    right: 91.66667% !important;
  }

  .s-OR-12 {
    right: 100% !important;
  }

  .s-OL-0 {
    right: 0% !important;
  }

  .s-OL-1 {
    right: -8.33333% !important;
  }

  .s-OL-2 {
    right: -16.66667% !important;
  }

  .s-OL-3 {
    right: -25% !important;
  }

  .s-OL-4 {
    right: -33.33333% !important;
  }

  .s-OL-5 {
    right: -41.66667% !important;
  }

  .s-OL-6 {
    right: -50% !important;
  }

  .s-OL-7 {
    right: -58.33333% !important;
  }

  .s-OL-8 {
    right: -66.66667% !important;
  }

  .s-OL-9 {
    right: -75% !important;
  }

  .s-OL-10 {
    right: -83.33333% !important;
  }

  .s-OL-11 {
    right: -91.66667% !important;
  }

  .s-OL-12 {
    right: -100% !important;
  }

  .s-show {
    visibility: visible !important;
  }

  .s-hide {
    visibility: hidden !important;
  }

  .clear.s {
    display: block;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .n-OR-0 {
    right: 0% !important;
  }

  .n-OR-1 {
    right: 8.33333% !important;
  }

  .n-OR-2 {
    right: 16.66667% !important;
  }

  .n-OR-3 {
    right: 25% !important;
  }

  .n-OR-4 {
    right: 33.33333% !important;
  }

  .n-OR-5 {
    right: 41.66667% !important;
  }

  .n-OR-6 {
    right: 50% !important;
  }

  .n-OR-7 {
    right: 58.33333% !important;
  }

  .n-OR-8 {
    right: 66.66667% !important;
  }

  .n-OR-9 {
    right: 75% !important;
  }

  .n-OR-10 {
    right: 83.33333% !important;
  }

  .n-OR-11 {
    right: 91.66667% !important;
  }

  .n-OR-12 {
    right: 100% !important;
  }

  .n-OL-0 {
    right: 0% !important;
  }

  .n-OL-1 {
    right: -8.33333% !important;
  }

  .n-OL-2 {
    right: -16.66667% !important;
  }

  .n-OL-3 {
    right: -25% !important;
  }

  .n-OL-4 {
    right: -33.33333% !important;
  }

  .n-OL-5 {
    right: -41.66667% !important;
  }

  .n-OL-6 {
    right: -50% !important;
  }

  .n-OL-7 {
    right: -58.33333% !important;
  }

  .n-OL-8 {
    right: -66.66667% !important;
  }

  .n-OL-9 {
    right: -75% !important;
  }

  .n-OL-10 {
    right: -83.33333% !important;
  }

  .n-OL-11 {
    right: -91.66667% !important;
  }

  .n-OL-12 {
    right: -100% !important;
  }

  .n-show {
    visibility: visible !important;
  }

  .n-hide {
    visibility: hidden !important;
  }

  .clear.n {
    display: block;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .m-OR-0 {
    right: 0% !important;
  }

  .m-OR-1 {
    right: 8.33333% !important;
  }

  .m-OR-2 {
    right: 16.66667% !important;
  }

  .m-OR-3 {
    right: 25% !important;
  }

  .m-OR-4 {
    right: 33.33333% !important;
  }

  .m-OR-5 {
    right: 41.66667% !important;
  }

  .m-OR-6 {
    right: 50% !important;
  }

  .m-OR-7 {
    right: 58.33333% !important;
  }

  .m-OR-8 {
    right: 66.66667% !important;
  }

  .m-OR-9 {
    right: 75% !important;
  }

  .m-OR-10 {
    right: 83.33333% !important;
  }

  .m-OR-11 {
    right: 91.66667% !important;
  }

  .m-OR-12 {
    right: 100% !important;
  }

  .m-OL-0 {
    right: 0% !important;
  }

  .m-OL-1 {
    right: -8.33333% !important;
  }

  .m-OL-2 {
    right: -16.66667% !important;
  }

  .m-OL-3 {
    right: -25% !important;
  }

  .m-OL-4 {
    right: -33.33333% !important;
  }

  .m-OL-5 {
    right: -41.66667% !important;
  }

  .m-OL-6 {
    right: -50% !important;
  }

  .m-OL-7 {
    right: -58.33333% !important;
  }

  .m-OL-8 {
    right: -66.66667% !important;
  }

  .m-OL-9 {
    right: -75% !important;
  }

  .m-OL-10 {
    right: -83.33333% !important;
  }

  .m-OL-11 {
    right: -91.66667% !important;
  }

  .m-OL-12 {
    right: -100% !important;
  }

  .m-show {
    visibility: visible !important;
  }

  .m-hide {
    visibility: hidden !important;
  }

  .clear.m {
    display: block;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .l-OR-0 {
    right: 0% !important;
  }

  .l-OR-1 {
    right: 8.33333% !important;
  }

  .l-OR-2 {
    right: 16.66667% !important;
  }

  .l-OR-3 {
    right: 25% !important;
  }

  .l-OR-4 {
    right: 33.33333% !important;
  }

  .l-OR-5 {
    right: 41.66667% !important;
  }

  .l-OR-6 {
    right: 50% !important;
  }

  .l-OR-7 {
    right: 58.33333% !important;
  }

  .l-OR-8 {
    right: 66.66667% !important;
  }

  .l-OR-9 {
    right: 75% !important;
  }

  .l-OR-10 {
    right: 83.33333% !important;
  }

  .l-OR-11 {
    right: 91.66667% !important;
  }

  .l-OR-12 {
    right: 100% !important;
  }

  .l-OL-0 {
    right: 0% !important;
  }

  .l-OL-1 {
    right: -8.33333% !important;
  }

  .l-OL-2 {
    right: -16.66667% !important;
  }

  .l-OL-3 {
    right: -25% !important;
  }

  .l-OL-4 {
    right: -33.33333% !important;
  }

  .l-OL-5 {
    right: -41.66667% !important;
  }

  .l-OL-6 {
    right: -50% !important;
  }

  .l-OL-7 {
    right: -58.33333% !important;
  }

  .l-OL-8 {
    right: -66.66667% !important;
  }

  .l-OL-9 {
    right: -75% !important;
  }

  .l-OL-10 {
    right: -83.33333% !important;
  }

  .l-OL-11 {
    right: -91.66667% !important;
  }

  .l-OL-12 {
    right: -100% !important;
  }

  .l-show {
    visibility: visible !important;
  }

  .l-hide {
    visibility: hidden !important;
  }

  .clear.l {
    display: block;
  }
}
@media (min-width: 1400px) and (max-width: 1600px) {
  .xl-OR-0 {
    right: 0% !important;
  }

  .xl-OR-1 {
    right: 8.33333% !important;
  }

  .xl-OR-2 {
    right: 16.66667% !important;
  }

  .xl-OR-3 {
    right: 25% !important;
  }

  .xl-OR-4 {
    right: 33.33333% !important;
  }

  .xl-OR-5 {
    right: 41.66667% !important;
  }

  .xl-OR-6 {
    right: 50% !important;
  }

  .xl-OR-7 {
    right: 58.33333% !important;
  }

  .xl-OR-8 {
    right: 66.66667% !important;
  }

  .xl-OR-9 {
    right: 75% !important;
  }

  .xl-OR-10 {
    right: 83.33333% !important;
  }

  .xl-OR-11 {
    right: 91.66667% !important;
  }

  .xl-OR-12 {
    right: 100% !important;
  }

  .xl-OL-0 {
    right: 0% !important;
  }

  .xl-OL-1 {
    right: -8.33333% !important;
  }

  .xl-OL-2 {
    right: -16.66667% !important;
  }

  .xl-OL-3 {
    right: -25% !important;
  }

  .xl-OL-4 {
    right: -33.33333% !important;
  }

  .xl-OL-5 {
    right: -41.66667% !important;
  }

  .xl-OL-6 {
    right: -50% !important;
  }

  .xl-OL-7 {
    right: -58.33333% !important;
  }

  .xl-OL-8 {
    right: -66.66667% !important;
  }

  .xl-OL-9 {
    right: -75% !important;
  }

  .xl-OL-10 {
    right: -83.33333% !important;
  }

  .xl-OL-11 {
    right: -91.66667% !important;
  }

  .xl-OL-12 {
    right: -100% !important;
  }

  .xl-show {
    visibility: visible !important;
  }

  .xl-hide {
    visibility: hidden !important;
  }

  .clear.xl {
    display: block;
  }
}
@media (min-width: 1600px) {
  .xxl-OR-0 {
    right: 0% !important;
  }

  .xxl-OR-1 {
    right: 8.33333% !important;
  }

  .xxl-OR-2 {
    right: 16.66667% !important;
  }

  .xxl-OR-3 {
    right: 25% !important;
  }

  .xxl-OR-4 {
    right: 33.33333% !important;
  }

  .xxl-OR-5 {
    right: 41.66667% !important;
  }

  .xxl-OR-6 {
    right: 50% !important;
  }

  .xxl-OR-7 {
    right: 58.33333% !important;
  }

  .xxl-OR-8 {
    right: 66.66667% !important;
  }

  .xxl-OR-9 {
    right: 75% !important;
  }

  .xxl-OR-10 {
    right: 83.33333% !important;
  }

  .xxl-OR-11 {
    right: 91.66667% !important;
  }

  .xxl-OR-12 {
    right: 100% !important;
  }

  .xxl-OL-0 {
    right: 0% !important;
  }

  .xxl-OL-1 {
    right: -8.33333% !important;
  }

  .xxl-OL-2 {
    right: -16.66667% !important;
  }

  .xxl-OL-3 {
    right: -25% !important;
  }

  .xxl-OL-4 {
    right: -33.33333% !important;
  }

  .xxl-OL-5 {
    right: -41.66667% !important;
  }

  .xxl-OL-6 {
    right: -50% !important;
  }

  .xxl-OL-7 {
    right: -58.33333% !important;
  }

  .xxl-OL-8 {
    right: -66.66667% !important;
  }

  .xxl-OL-9 {
    right: -75% !important;
  }

  .xxl-OL-10 {
    right: -83.33333% !important;
  }

  .xxl-OL-11 {
    right: -91.66667% !important;
  }

  .xxl-OL-12 {
    right: -100% !important;
  }

  .xxl-show {
    visibility: visible !important;
  }

  .xxl-hide {
    visibility: hidden !important;
  }

  .clear.xxl {
    display: block;
  }
}
@media (min-width: 0) {
  .col.xxs-1 {
    width: 8.33333% !important;
  }

  .col.xxs-2 {
    width: 16.66667% !important;
  }

  .col.xxs-3 {
    width: 25% !important;
  }

  .col.xxs-4 {
    width: 33.33333% !important;
  }

  .col.xxs-5 {
    width: 41.66667% !important;
  }

  .col.xxs-6 {
    width: 50% !important;
  }

  .col.xxs-7 {
    width: 58.33333% !important;
  }

  .col.xxs-8 {
    width: 66.66667% !important;
  }

  .col.xxs-9 {
    width: 75% !important;
  }

  .col.xxs-10 {
    width: 83.33333% !important;
  }

  .col.xxs-11 {
    width: 91.66667% !important;
  }

  .col.xxs-12 {
    width: 100% !important;
  }

  .clear.above-xxs {
    display: block;
  }
}
@media (min-width: 400px) {
  .col.xs-1 {
    width: 8.33333% !important;
  }

  .col.xs-2 {
    width: 16.66667% !important;
  }

  .col.xs-3 {
    width: 25% !important;
  }

  .col.xs-4 {
    width: 33.33333% !important;
  }

  .col.xs-5 {
    width: 41.66667% !important;
  }

  .col.xs-6 {
    width: 50% !important;
  }

  .col.xs-7 {
    width: 58.33333% !important;
  }

  .col.xs-8 {
    width: 66.66667% !important;
  }

  .col.xs-9 {
    width: 75% !important;
  }

  .col.xs-10 {
    width: 83.33333% !important;
  }

  .col.xs-11 {
    width: 91.66667% !important;
  }

  .col.xs-12 {
    width: 100% !important;
  }

  .clear.above-xs {
    display: block;
  }
}
@media (min-width: 600px) {
  .col.s-1 {
    width: 8.33333% !important;
  }

  .col.s-2 {
    width: 16.66667% !important;
  }

  .col.s-3 {
    width: 25% !important;
  }

  .col.s-4 {
    width: 33.33333% !important;
  }

  .col.s-5 {
    width: 41.66667% !important;
  }

  .col.s-6 {
    width: 50% !important;
  }

  .col.s-7 {
    width: 58.33333% !important;
  }

  .col.s-8 {
    width: 66.66667% !important;
  }

  .col.s-9 {
    width: 75% !important;
  }

  .col.s-10 {
    width: 83.33333% !important;
  }

  .col.s-11 {
    width: 91.66667% !important;
  }

  .col.s-12 {
    width: 100% !important;
  }

  .clear.above-s {
    display: block;
  }
}
@media (min-width: 800px) {
  .col.n-1 {
    width: 8.33333% !important;
  }

  .col.n-2 {
    width: 16.66667% !important;
  }

  .col.n-3 {
    width: 25% !important;
  }

  .col.n-4 {
    width: 33.33333% !important;
  }

  .col.n-5 {
    width: 41.66667% !important;
  }

  .col.n-6 {
    width: 50% !important;
  }

  .col.n-7 {
    width: 58.33333% !important;
  }

  .col.n-8 {
    width: 66.66667% !important;
  }

  .col.n-9 {
    width: 75% !important;
  }

  .col.n-10 {
    width: 83.33333% !important;
  }

  .col.n-11 {
    width: 91.66667% !important;
  }

  .col.n-12 {
    width: 100% !important;
  }

  .clear.above-n {
    display: block;
  }
}
@media (min-width: 1000px) {
  .col.m-1 {
    width: 8.33333% !important;
  }

  .col.m-2 {
    width: 16.66667% !important;
  }

  .col.m-3 {
    width: 25% !important;
  }

  .col.m-4 {
    width: 33.33333% !important;
  }

  .col.m-5 {
    width: 41.66667% !important;
  }

  .col.m-6 {
    width: 50% !important;
  }

  .col.m-7 {
    width: 58.33333% !important;
  }

  .col.m-8 {
    width: 66.66667% !important;
  }

  .col.m-9 {
    width: 75% !important;
  }

  .col.m-10 {
    width: 83.33333% !important;
  }

  .col.m-11 {
    width: 91.66667% !important;
  }

  .col.m-12 {
    width: 100% !important;
  }

  .clear.above-m {
    display: block;
  }
}
@media (min-width: 1200px) {
  .col.l-1 {
    width: 8.33333% !important;
  }

  .col.l-2 {
    width: 16.66667% !important;
  }

  .col.l-3 {
    width: 25% !important;
  }

  .col.l-4 {
    width: 33.33333% !important;
  }

  .col.l-5 {
    width: 41.66667% !important;
  }

  .col.l-6 {
    width: 50% !important;
  }

  .col.l-7 {
    width: 58.33333% !important;
  }

  .col.l-8 {
    width: 66.66667% !important;
  }

  .col.l-9 {
    width: 75% !important;
  }

  .col.l-10 {
    width: 83.33333% !important;
  }

  .col.l-11 {
    width: 91.66667% !important;
  }

  .col.l-12 {
    width: 100% !important;
  }

  .clear.above-l {
    display: block;
  }
}
@media (min-width: 1400px) {
  .col.xl-1 {
    width: 8.33333% !important;
  }

  .col.xl-2 {
    width: 16.66667% !important;
  }

  .col.xl-3 {
    width: 25% !important;
  }

  .col.xl-4 {
    width: 33.33333% !important;
  }

  .col.xl-5 {
    width: 41.66667% !important;
  }

  .col.xl-6 {
    width: 50% !important;
  }

  .col.xl-7 {
    width: 58.33333% !important;
  }

  .col.xl-8 {
    width: 66.66667% !important;
  }

  .col.xl-9 {
    width: 75% !important;
  }

  .col.xl-10 {
    width: 83.33333% !important;
  }

  .col.xl-11 {
    width: 91.66667% !important;
  }

  .col.xl-12 {
    width: 100% !important;
  }

  .clear.above-xl {
    display: block;
  }
}
@media (min-width: 1600px) {
  .col.xxl-1 {
    width: 8.33333% !important;
  }

  .col.xxl-2 {
    width: 16.66667% !important;
  }

  .col.xxl-3 {
    width: 25% !important;
  }

  .col.xxl-4 {
    width: 33.33333% !important;
  }

  .col.xxl-5 {
    width: 41.66667% !important;
  }

  .col.xxl-6 {
    width: 50% !important;
  }

  .col.xxl-7 {
    width: 58.33333% !important;
  }

  .col.xxl-8 {
    width: 66.66667% !important;
  }

  .col.xxl-9 {
    width: 75% !important;
  }

  .col.xxl-10 {
    width: 83.33333% !important;
  }

  .col.xxl-11 {
    width: 91.66667% !important;
  }

  .col.xxl-12 {
    width: 100% !important;
  }

  .clear.above-xxl {
    display: block;
  }
}
@media (max-width: 200px) {
  .clear.under-xxs {
    display: block;
  }
}
@media (max-width: 400px) {
  .clear.under-xs {
    display: block;
  }
}
@media (max-width: 600px) {
  .clear.under-s {
    display: block;
  }
}
@media (max-width: 800px) {
  .clear.under-n {
    display: block;
  }
}
@media (max-width: 1000px) {
  .clear.under-m {
    display: block;
  }
}
@media (max-width: 1200px) {
  .clear.under-l {
    display: block;
  }
}
@media (max-width: 1400px) {
  .clear.under-xl {
    display: block;
  }
}
@media (max-width: 1600px) {
  .clear.under-xxl {
    display: block;
  }
}
