@import "_config.sass"
@import "_mixins.sass"

*
  box-sizing: border-box
  padding: 0
  margin: 0
  border: 0
  color: #888
  font-weight: 300
  font-family: "Open Sans"

html
  font-size: 16px

body
  font-size: 100%
  font-size: 1rem
  background-image: url("../img/waffles.jpg")
  background-attachment: fixed
  background-size: cover
  background-position: center center
  min-width: 300px
  width: 100%


// normalize
// ====================
header, nav
  display: block

// defaults
// ====================
a
  text-decoration: none


// Structure
// ====================
header
  background: rgba($color, .84)
  position: relative
main
  background: #fff
footer

.clearfix
  &:after, &:before
    display: block
    width: 100%
    content: ""
    clear: both

// Header
// ====================
header
  #top
    +clearfix

    #logo
      float: left
      img
        height: $line-height

    #download-btn
      float: right
      a
        font-weight: 600

  nav
    display: table
    margin: auto
    +clearfix
    a
      display: block
      float: left
      line-height: $line-height
      padding: 0 $line-height/2
      border-radius: $line-height
      position: relative
      font-weight: 600
      color: #fff
      &:hover
        color: $color
        background: #fff

// Footer
// ====================

footer
  .copyright
    padding: 100px 0
    background: rgba($color, .9)
    p
      text-align: center
      padding: $spacing/2 $spacing
      border-radius: $spacing*2
      background: #fff
      display: table
      margin: auto





// Hero
// ====================
#hero
  height: 200px
  width: 100%
  display: block
  position: relative
  z-index: 0

  >*
    text-align: center
    position: relative
    top: 50%
    transform: translate(0, -50%)

  *
    color: #fff
    font-size: 3rem
    font-weight: 600

// Metrics
// ====================
.padding
  padding: $spacing
.padding-v
.padding-h
  padding: 0 $spacing
.padding-x2
  padding: $spacing*3 $spacing

.spaced-d
  padding-bottom: $spacing
.spaced-d-x2
  padding-bottom: $spacing*3
.spaced-u
.spaced-l
.spaced-r

.container
  max-width: 1200px
  width: 100%
  display: block
  margin: auto

.custom-container
  max-width: 700px
  float: right
  width: 100%


// Sections
// ====================
.section
  .section--bg-image
  .section--bg-color

// GRIDS
// ====================
.col-content
  border: 1px solid #ddd
  padding: $spacing
  background: #fff




// typography
// ====================
h1
  font-size: 2.5rem
h2
  font-size: 1.4rem
h3
  font-size: 1.1rem

.text
  &.link
    color: $color
    text-decoration: underline

// classes
// ====================
.round
  border-radius: 4px


// Buttons
// ====================
.btn
  display: inline-block
  line-height: $line-height
  padding: 0 $line-height/2
  border: 2px solid transparent
  &.btn-white
    color: $color
    &.stroke
      border-color: #fff
      color: #fff
    &.fill
      background: #fff
    &:hover
      background: #fff
      color: $color
  &.fill
    border: 4px solid $color
  &.btn-colored
    background: $color
    color: #fff


// sections
// ====================
main
  >section
    border-bottom: 1px solid #ddd
    &:last-of-type
      border-bottom: 0
    .padding
      padding: $spacing*2 $spacing
section
  h1
    margin-bottom: $spacing
    color: $color
    padding: 0 0 $spacing/2
    text-align: left
    width: 100%
    display: block
    font-weight: 600
    text-transform: uppercase
  >h2
    margin-top: $spacing
  h2
    margin-bottom: $spacing/2
    color: #000
    font-weight: 400

  h3
    margin-top: $spacing
    margin-bottom: $spacing/4


#resume
  h2
    font-size: 1.1rem
    color: #000
  p
    margin-bottom: $spacing

  .col
    &:nth-child(odd)
      *
        text-align: right


.block
  background: #E6E6E6
  border-radius: 4px
  border: 1px solid #fff
  height: 20px
  line-height: 20px
  text-align: center
  position: relative
  overflow: hidden

  &.red
    background: #E67F79

  &.yellow
    background: #E6DA70
  &.blue
    background: #7799E6
  &.green
    background: #77E698
  &.orange
    background: $color
  &.gray
    background: #A5A5A5
  &.pink
    background: #F69FD9
  &.purple
    background: #9A82D9
  &.black
    background: #545454
  &.cyan
    background: #72E6F4

  span
    position: absolute
    line-height: 40px
    padding: 0 20px
    top: 100%
    margin-top: 5px
    white-space: nowrap
    background: #fff
    border: 1px solid #ddd
    z-index: 10
    left: 50%
    transform: translate(-50%, 0)
    border-radius: 4px
    opacity: 0
    box-shadow: 0 0 10px #aaa
    font-size: 1rem
    &:after
      position: absolute
      top: 0
      margin-top: -18px
      left: 50%
      transform: translate(-50%, 0)
      content: ""
      display: block
      width: 0
      height: 0
      border: 10px solid transparent
      border-bottom: 8px solid #fff

  &:hover
    background: #aaa
    overflow: visible
    span
      opacity: 1

.shadow
  box-shadow: 0 0 10px #aaa

#order
  .block
    color: #fff


#clear
  .clear
    height: 2px
    background: #aaa


pre
  font-family: monospace !important
  *
    font-family: monospace !important

@import "_responsive.sass"